
RUN_MYSQL_DATABASE=False

MYSQL_DATABASE_HOST=
MYSQL_DATABASE_USER=
MYSQL_DATABASE_PASSWORD=
MYSQL_DATABASE_DATABASE=
MYSQL_DATABASE_PORT=

POSTGRES_DATABASE_HOST=
POSTGRES_DATABASE_USER=
POSTGRES_DATABASE_PASSWORD=
POSTGRES_DATABASE_DATABASE=
POSTGRES_DATABASE_PORT=

DATABASE_URL=