[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
masonite = "<2.3,>=2.2"
flake8 = "*"
pytest = "*"
PyMySQL = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
